<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.luminar.lmnr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>documentbundle</string>
	<key>CFBundlePackageType</key>
	<string>LMNR</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.2</string>
	<key>CFBundleVersion</key>
	<string>4749</string>
	<key>MPDeleteOrigResourcesFromDocument</key>
	<false/>
	<key>MPHistoryDict</key>
	<dict>
		<key>cachedTexturesBookmarksDict</key>
		<dict>
			<key>/Users/fabriceedon/Dev/Android/DockThor/app/src/main/res/dock_work/dock_pic.JPG</key>
			<data>
			Ym9va8QDAAAAAAQQMAAAAJhBpkbsACLXsJId6uhh3i/C5yzvqy1J
			o9RwAJyKJSo8wAIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAALAAAAAQEAAGZhYnJpY2VlZG9uAAMAAAABAQAARGV2AAcAAAAB
			AQAAQW5kcm9pZAAIAAAAAQEAAERvY2tUaG9yAwAAAAEBAABhcHAA
			AwAAAAEBAABzcmMABAAAAAEBAABtYWluAwAAAAEBAAByZXMACQAA
			AAEBAABkb2NrX3dvcmsAAAAMAAAAAQEAAGRvY2tfcGljLkpQRywA
			AAABBgAAEAAAACAAAAA0AAAAQAAAAFAAAABgAAAAbAAAAHgAAACE
			AAAAkAAAAKQAAAAIAAAABAMAAIRcAAAAAAAACAAAAAQDAABLtQMA
			AAAAAAgAAAAEAwAANdYEAAAAAAAIAAAABAMAADjWBAAAAAAACAAA
			AAQDAADcpiwAAAAAAAgAAAAEAwAA8aYsAAAAAAAIAAAABAMAAPKm
			LAAAAAAACAAAAAQDAADzpiwAAAAAAAgAAAAEAwAADKcsAAAAAAAI
			AAAABAMAAFvHOQAAAAAACAAAAAQDAABgxzkAAAAAACwAAAABBgAA
			7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAFwBAABsAQAAfAEA
			AIwBAAAIAAAAAAQAAEHDytMlI/unGAAAAAECAAABAAAAAAAAAA8A
			AAAAAAAAAAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD1
			AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
			CAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcOOkO8AAAAkAAAAAQEA
			ADZERTMzRkY2LTVEMkItNDRCRi1BQUFCLUE5Rjg3MkMxRTE3NRgA
			AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
			AAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAC4AAAA
			AAAAAAUQAACcAQAAAAAAABAQAADgAQAAAAAAAEAQAADQAQAAAAAA
			AAIgAACsAgAAAAAAAAUgAAAcAgAAAAAAABAgAAAsAgAAAAAAABEg
			AABgAgAAAAAAABIgAABAAgAAAAAAABMgAABQAgAAAAAAACAgAACM
			AgAAAAAAADAgAAC4AgAAAAAAAAHAAAAAAgAAAAAAABHAAAAgAAAA
			AAAAABLAAAAQAgAAAAAAABDQAAAEAAAAAAAAAA==
			</data>
			<key>/Users/fabriceedon/Dev/Android/DockThor/app/src/main/res/dock_work/storm.png</key>
			<data>
			Ym9va8QDAAAAAAQQMAAAAKWDbvOWHLoMgMYNwgjncOkQjBnTzwyX
			/ScrvBxgCBdywAIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAALAAAAAQEAAGZhYnJpY2VlZG9uAAMAAAABAQAARGV2AAcAAAAB
			AQAAQW5kcm9pZAAIAAAAAQEAAERvY2tUaG9yAwAAAAEBAABhcHAA
			AwAAAAEBAABzcmMABAAAAAEBAABtYWluAwAAAAEBAAByZXMACQAA
			AAEBAABkb2NrX3dvcmsAAAAJAAAAAQEAAHN0b3JtLnBuZwAAACwA
			AAABBgAAEAAAACAAAAA0AAAAQAAAAFAAAABgAAAAbAAAAHgAAACE
			AAAAkAAAAKQAAAAIAAAABAMAAIRcAAAAAAAACAAAAAQDAABLtQMA
			AAAAAAgAAAAEAwAANdYEAAAAAAAIAAAABAMAADjWBAAAAAAACAAA
			AAQDAADcpiwAAAAAAAgAAAAEAwAA8aYsAAAAAAAIAAAABAMAAPKm
			LAAAAAAACAAAAAQDAADzpiwAAAAAAAgAAAAEAwAADKcsAAAAAAAI
			AAAABAMAAFvHOQAAAAAACAAAAAQDAAAQ1TkAAAAAACwAAAABBgAA
			7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAFwBAABsAQAAfAEA
			AIwBAAAIAAAAAAQAAEHDytV+kvsiGAAAAAECAAABAAAAAAAAAA8A
			AAAAAAAAAAAAAAAAAAAIAAAABAMAAAkAAAAAAAAABAAAAAMDAAD1
			AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
			CAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcOOkO8AAAAkAAAAAQEA
			ADZERTMzRkY2LTVEMkItNDRCRi1BQUFCLUE5Rjg3MkMxRTE3NRgA
			AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
			AAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAC4AAAA
			AAAAAAUQAACcAQAAAAAAABAQAADgAQAAAAAAAEAQAADQAQAAAAAA
			AAIgAACsAgAAAAAAAAUgAAAcAgAAAAAAABAgAAAsAgAAAAAAABEg
			AABgAgAAAAAAABIgAABAAgAAAAAAABMgAABQAgAAAAAAACAgAACM
			AgAAAAAAADAgAAC4AgAAAAAAAAHAAAAAAgAAAAAAABHAAAAgAAAA
			AAAAABLAAAAQAgAAAAAAABDQAAAEAAAAAAAAAA==
			</data>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/174BCADA-D265-4656-A5A9-3027BFBDFCD0.tiff</key>
			<data>
			Ym9vaxwDAAAAAAQQMAAAAJfD4RKyaSSdgQXDp3KDdNkIHhiDT5Vc
			t98pqP0UsLwOPAIAAAQAAAADAwAAAAgAKAcAAAABAQAAcHJpdmF0
			ZQADAAAAAQEAAHZhcgAHAAAAAQEAAGZvbGRlcnMAAgAAAAEBAAA5
			eAAAHgAAAAEBAAB0cHRiM256bjUyejRkYnFkZzBoZ2x5YncwMDAw
			Z24AAAEAAAABAQAAVAAAACkAAAABAQAAMTc0QkNBREEtRDI2NS00
			NjU2LUE1QTktMzAyN0JGQkRGQ0QwLnRpZmYAAAAcAAAAAQYAABAA
			AAAgAAAALAAAADwAAABIAAAAcAAAAHwAAAAIAAAABAMAANpYAAAA
			AAAACAAAAAQDAACYWgAAAAAAAAgAAAAEAwAAc1wAAAAAAAAIAAAA
			BAMAANy1AwAAAAAACAAAAAQDAADdtQMAAAAAAAgAAAAEAwAA4LUD
			AAAAAAAIAAAABAMAAIDPOQAAAAAAHAAAAAEGAADUAAAA5AAAAPQA
			AAAEAQAAFAEAACQBAAA0AQAACAAAAAAEAABBw8rVD0ihyRgAAAAB
			AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
			Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAA
			AAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADZERTMzRkY2LTVEMkIt
			NDRCRi1BQUFCLUE5Rjg3MkMxRTE3NRgAAAABAgAAgQAAAAEAAADv
			EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
			/v///wEAAAAAAAAADQAAAAQQAACwAAAAAAAAAAUQAABEAQAAAAAA
			ABAQAAB4AQAAAAAAAEAQAABoAQAAAAAAAAIgAAAoAgAAAAAAAAUg
			AACYAQAAAAAAABAgAACoAQAAAAAAABEgAADcAQAAAAAAABIgAAC8
			AQAAAAAAABMgAADMAQAAAAAAACAgAAAIAgAAAAAAADAgAAA0AgAA
			AAAAABDQAAAEAAAAAAAAAA==
			</data>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/184B0E34-A548-4C21-841F-99287F65730F.tiff</key>
			<data>
			Ym9vaxwDAAAAAAQQMAAAAMk5LxDV7w7GN7ZLJtp1Q/yIhI4/ZT4X
			vt/9K28C732NPAIAAAQAAAADAwAAAAgAKAcAAAABAQAAcHJpdmF0
			ZQADAAAAAQEAAHZhcgAHAAAAAQEAAGZvbGRlcnMAAgAAAAEBAAA5
			eAAAHgAAAAEBAAB0cHRiM256bjUyejRkYnFkZzBoZ2x5YncwMDAw
			Z24AAAEAAAABAQAAVAAAACkAAAABAQAAMTg0QjBFMzQtQTU0OC00
			QzIxLTg0MUYtOTkyODdGNjU3MzBGLnRpZmYAAAAcAAAAAQYAABAA
			AAAgAAAALAAAADwAAABIAAAAcAAAAHwAAAAIAAAABAMAANpYAAAA
			AAAACAAAAAQDAACYWgAAAAAAAAgAAAAEAwAAc1wAAAAAAAAIAAAA
			BAMAANy1AwAAAAAACAAAAAQDAADdtQMAAAAAAAgAAAAEAwAA4LUD
			AAAAAAAIAAAABAMAAEXPOQAAAAAAHAAAAAEGAADUAAAA5AAAAPQA
			AAAEAQAAFAEAACQBAAA0AQAACAAAAAAEAABBw8rU9WQp6BgAAAAB
			AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
			Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAA
			AAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADZERTMzRkY2LTVEMkIt
			NDRCRi1BQUFCLUE5Rjg3MkMxRTE3NRgAAAABAgAAgQAAAAEAAADv
			EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
			/v///wEAAAAAAAAADQAAAAQQAACwAAAAAAAAAAUQAABEAQAAAAAA
			ABAQAAB4AQAAAAAAAEAQAABoAQAAAAAAAAIgAAAoAgAAAAAAAAUg
			AACYAQAAAAAAABAgAACoAQAAAAAAABEgAADcAQAAAAAAABIgAAC8
			AQAAAAAAABMgAADMAQAAAAAAACAgAAAIAgAAAAAAADAgAAA0AgAA
			AAAAABDQAAAEAAAAAAAAAA==
			</data>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/2F721349-EE7F-4552-8A69-1707F17E8071.tiff</key>
			<data>
			Ym9vaxwDAAAAAAQQMAAAAKIMvGNfooy8v85hWnOFzyWNO5U52y6V
			sL+CS7PFxy7NPAIAAAQAAAADAwAAAAgAKAcAAAABAQAAcHJpdmF0
			ZQADAAAAAQEAAHZhcgAHAAAAAQEAAGZvbGRlcnMAAgAAAAEBAAA5
			eAAAHgAAAAEBAAB0cHRiM256bjUyejRkYnFkZzBoZ2x5YncwMDAw
			Z24AAAEAAAABAQAAVAAAACkAAAABAQAAMkY3MjEzNDktRUU3Ri00
			NTUyLThBNjktMTcwN0YxN0U4MDcxLnRpZmYAAAAcAAAAAQYAABAA
			AAAgAAAALAAAADwAAABIAAAAcAAAAHwAAAAIAAAABAMAANpYAAAA
			AAAACAAAAAQDAACYWgAAAAAAAAgAAAAEAwAAc1wAAAAAAAAIAAAA
			BAMAANy1AwAAAAAACAAAAAQDAADdtQMAAAAAAAgAAAAEAwAA4LUD
			AAAAAAAIAAAABAMAAM7oOQAAAAAAHAAAAAEGAADUAAAA5AAAAPQA
			AAAEAQAAFAEAACQBAAA0AQAACAAAAAAEAABBw8rYbO3TmRgAAAAB
			AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
			Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAA
			AAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADZERTMzRkY2LTVEMkIt
			NDRCRi1BQUFCLUE5Rjg3MkMxRTE3NRgAAAABAgAAgQAAAAEAAADv
			EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
			/v///wEAAAAAAAAADQAAAAQQAACwAAAAAAAAAAUQAABEAQAAAAAA
			ABAQAAB4AQAAAAAAAEAQAABoAQAAAAAAAAIgAAAoAgAAAAAAAAUg
			AACYAQAAAAAAABAgAACoAQAAAAAAABEgAADcAQAAAAAAABIgAAC8
			AQAAAAAAABMgAADMAQAAAAAAACAgAAAIAgAAAAAAADAgAAA0AgAA
			AAAAABDQAAAEAAAAAAAAAA==
			</data>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/3E1EE1C7-9FE8-4695-ADA5-F315DFEEA9F7.tiff</key>
			<data>
			Ym9vaxwDAAAAAAQQMAAAAD0AMlm6ViUnnAXaWkV0v+J4IDzCmUSI
			z3k4EjJD/1x/PAIAAAQAAAADAwAAAAgAKAcAAAABAQAAcHJpdmF0
			ZQADAAAAAQEAAHZhcgAHAAAAAQEAAGZvbGRlcnMAAgAAAAEBAAA5
			eAAAHgAAAAEBAAB0cHRiM256bjUyejRkYnFkZzBoZ2x5YncwMDAw
			Z24AAAEAAAABAQAAVAAAACkAAAABAQAAM0UxRUUxQzctOUZFOC00
			Njk1LUFEQTUtRjMxNURGRUVBOUY3LnRpZmYAAAAcAAAAAQYAABAA
			AAAgAAAALAAAADwAAABIAAAAcAAAAHwAAAAIAAAABAMAANpYAAAA
			AAAACAAAAAQDAACYWgAAAAAAAAgAAAAEAwAAc1wAAAAAAAAIAAAA
			BAMAANy1AwAAAAAACAAAAAQDAADdtQMAAAAAAAgAAAAEAwAA4LUD
			AAAAAAAIAAAABAMAAGDPOQAAAAAAHAAAAAEGAADUAAAA5AAAAPQA
			AAAEAQAAFAEAACQBAAA0AQAACAAAAAAEAABBw8rU/bO4ZBgAAAAB
			AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
			Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAA
			AAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADZERTMzRkY2LTVEMkIt
			NDRCRi1BQUFCLUE5Rjg3MkMxRTE3NRgAAAABAgAAgQAAAAEAAADv
			EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
			/v///wEAAAAAAAAADQAAAAQQAACwAAAAAAAAAAUQAABEAQAAAAAA
			ABAQAAB4AQAAAAAAAEAQAABoAQAAAAAAAAIgAAAoAgAAAAAAAAUg
			AACYAQAAAAAAABAgAACoAQAAAAAAABEgAADcAQAAAAAAABIgAAC8
			AQAAAAAAABMgAADMAQAAAAAAACAgAAAIAgAAAAAAADAgAAA0AgAA
			AAAAABDQAAAEAAAAAAAAAA==
			</data>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/485FD2F5-E3AE-47AD-9098-9B317A17328A.tiff</key>
			<data>
			Ym9vaxwDAAAAAAQQMAAAAIg1O48qWcOdZM32Gy9t+ysVQtixYW5D
			0qORIwJCklbtPAIAAAQAAAADAwAAAAgAKAcAAAABAQAAcHJpdmF0
			ZQADAAAAAQEAAHZhcgAHAAAAAQEAAGZvbGRlcnMAAgAAAAEBAAA5
			eAAAHgAAAAEBAAB0cHRiM256bjUyejRkYnFkZzBoZ2x5YncwMDAw
			Z24AAAEAAAABAQAAVAAAACkAAAABAQAANDg1RkQyRjUtRTNBRS00
			N0FELTkwOTgtOUIzMTdBMTczMjhBLnRpZmYAAAAcAAAAAQYAABAA
			AAAgAAAALAAAADwAAABIAAAAcAAAAHwAAAAIAAAABAMAANpYAAAA
			AAAACAAAAAQDAACYWgAAAAAAAAgAAAAEAwAAc1wAAAAAAAAIAAAA
			BAMAANy1AwAAAAAACAAAAAQDAADdtQMAAAAAAAgAAAAEAwAA4LUD
			AAAAAAAIAAAABAMAAL7lOQAAAAAAHAAAAAEGAADUAAAA5AAAAPQA
			AAAEAQAAFAEAACQBAAA0AQAACAAAAAAEAABBw8rXpNKQrBgAAAAB
			AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
			Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAA
			AAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADZERTMzRkY2LTVEMkIt
			NDRCRi1BQUFCLUE5Rjg3MkMxRTE3NRgAAAABAgAAgQAAAAEAAADv
			EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
			/v///wEAAAAAAAAADQAAAAQQAACwAAAAAAAAAAUQAABEAQAAAAAA
			ABAQAAB4AQAAAAAAAEAQAABoAQAAAAAAAAIgAAAoAgAAAAAAAAUg
			AACYAQAAAAAAABAgAACoAQAAAAAAABEgAADcAQAAAAAAABIgAAC8
			AQAAAAAAABMgAADMAQAAAAAAACAgAAAIAgAAAAAAADAgAAA0AgAA
			AAAAABDQAAAEAAAAAAAAAA==
			</data>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/48C368CC-45A7-41D1-A321-28939D185ADF.tiff</key>
			<data>
			Ym9vaxwDAAAAAAQQMAAAAF0zhxqCTPrrslHfH1VlwQeAtwFJTYh1
			f9Bo1VOLyc6BPAIAAAQAAAADAwAAAAgAKAcAAAABAQAAcHJpdmF0
			ZQADAAAAAQEAAHZhcgAHAAAAAQEAAGZvbGRlcnMAAgAAAAEBAAA5
			eAAAHgAAAAEBAAB0cHRiM256bjUyejRkYnFkZzBoZ2x5YncwMDAw
			Z24AAAEAAAABAQAAVAAAACkAAAABAQAANDhDMzY4Q0MtNDVBNy00
			MUQxLUEzMjEtMjg5MzlEMTg1QURGLnRpZmYAAAAcAAAAAQYAABAA
			AAAgAAAALAAAADwAAABIAAAAcAAAAHwAAAAIAAAABAMAANpYAAAA
			AAAACAAAAAQDAACYWgAAAAAAAAgAAAAEAwAAc1wAAAAAAAAIAAAA
			BAMAANy1AwAAAAAACAAAAAQDAADdtQMAAAAAAAgAAAAEAwAA4LUD
			AAAAAAAIAAAABAMAAFzOOQAAAAAAHAAAAAEGAADUAAAA5AAAAPQA
			AAAEAQAAFAEAACQBAAA0AQAACAAAAAAEAABBw8rUvzRavRgAAAAB
			AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
			Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAA
			AAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADZERTMzRkY2LTVEMkIt
			NDRCRi1BQUFCLUE5Rjg3MkMxRTE3NRgAAAABAgAAgQAAAAEAAADv
			EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
			/v///wEAAAAAAAAADQAAAAQQAACwAAAAAAAAAAUQAABEAQAAAAAA
			ABAQAAB4AQAAAAAAAEAQAABoAQAAAAAAAAIgAAAoAgAAAAAAAAUg
			AACYAQAAAAAAABAgAACoAQAAAAAAABEgAADcAQAAAAAAABIgAAC8
			AQAAAAAAABMgAADMAQAAAAAAACAgAAAIAgAAAAAAADAgAAA0AgAA
			AAAAABDQAAAEAAAAAAAAAA==
			</data>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/628073CB-3E23-48E9-9C3F-D470567D884E.tiff</key>
			<data>
			Ym9vaxwDAAAAAAQQMAAAAChilhDkbrdk7vewzhfih3SBa0DP7BlE
			piQIQT5C72YOPAIAAAQAAAADAwAAAAgAKAcAAAABAQAAcHJpdmF0
			ZQADAAAAAQEAAHZhcgAHAAAAAQEAAGZvbGRlcnMAAgAAAAEBAAA5
			eAAAHgAAAAEBAAB0cHRiM256bjUyejRkYnFkZzBoZ2x5YncwMDAw
			Z24AAAEAAAABAQAAVAAAACkAAAABAQAANjI4MDczQ0ItM0UyMy00
			OEU5LTlDM0YtRDQ3MDU2N0Q4ODRFLnRpZmYAAAAcAAAAAQYAABAA
			AAAgAAAALAAAADwAAABIAAAAcAAAAHwAAAAIAAAABAMAANpYAAAA
			AAAACAAAAAQDAACYWgAAAAAAAAgAAAAEAwAAc1wAAAAAAAAIAAAA
			BAMAANy1AwAAAAAACAAAAAQDAADdtQMAAAAAAAgAAAAEAwAA4LUD
			AAAAAAAIAAAABAMAAEzMOQAAAAAAHAAAAAEGAADUAAAA5AAAAPQA
			AAAEAQAAFAEAACQBAAA0AQAACAAAAAAEAABBw8rUPGNQ9hgAAAAB
			AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
			Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAA
			AAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADZERTMzRkY2LTVEMkIt
			NDRCRi1BQUFCLUE5Rjg3MkMxRTE3NRgAAAABAgAAgQAAAAEAAADv
			EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
			/v///wEAAAAAAAAADQAAAAQQAACwAAAAAAAAAAUQAABEAQAAAAAA
			ABAQAAB4AQAAAAAAAEAQAABoAQAAAAAAAAIgAAAoAgAAAAAAAAUg
			AACYAQAAAAAAABAgAACoAQAAAAAAABEgAADcAQAAAAAAABIgAAC8
			AQAAAAAAABMgAADMAQAAAAAAACAgAAAIAgAAAAAAADAgAAA0AgAA
			AAAAABDQAAAEAAAAAAAAAA==
			</data>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/85B839EA-06F4-4D62-B52D-241EEAFA2404.tiff</key>
			<data>
			Ym9vaxwDAAAAAAQQMAAAAIt8fYwElM0q6TPpvRPxJyQNu7UC4eEx
			pljEatmZTcBXPAIAAAQAAAADAwAAAAgAKAcAAAABAQAAcHJpdmF0
			ZQADAAAAAQEAAHZhcgAHAAAAAQEAAGZvbGRlcnMAAgAAAAEBAAA5
			eAAAHgAAAAEBAAB0cHRiM256bjUyejRkYnFkZzBoZ2x5YncwMDAw
			Z24AAAEAAAABAQAAVAAAACkAAAABAQAAODVCODM5RUEtMDZGNC00
			RDYyLUI1MkQtMjQxRUVBRkEyNDA0LnRpZmYAAAAcAAAAAQYAABAA
			AAAgAAAALAAAADwAAABIAAAAcAAAAHwAAAAIAAAABAMAANpYAAAA
			AAAACAAAAAQDAACYWgAAAAAAAAgAAAAEAwAAc1wAAAAAAAAIAAAA
			BAMAANy1AwAAAAAACAAAAAQDAADdtQMAAAAAAAgAAAAEAwAA4LUD
			AAAAAAAIAAAABAMAAIXrOQAAAAAAHAAAAAEGAADUAAAA5AAAAPQA
			AAAEAQAAFAEAACQBAAA0AQAACAAAAAAEAABBw8rZF1Z3TxgAAAAB
			AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
			Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAA
			AAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADZERTMzRkY2LTVEMkIt
			NDRCRi1BQUFCLUE5Rjg3MkMxRTE3NRgAAAABAgAAgQAAAAEAAADv
			EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
			/v///wEAAAAAAAAADQAAAAQQAACwAAAAAAAAAAUQAABEAQAAAAAA
			ABAQAAB4AQAAAAAAAEAQAABoAQAAAAAAAAIgAAAoAgAAAAAAAAUg
			AACYAQAAAAAAABAgAACoAQAAAAAAABEgAADcAQAAAAAAABIgAAC8
			AQAAAAAAABMgAADMAQAAAAAAACAgAAAIAgAAAAAAADAgAAA0AgAA
			AAAAABDQAAAEAAAAAAAAAA==
			</data>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/ABD5168E-A5E5-48AB-9DE8-49EBAF513393.tiff</key>
			<data>
			Ym9vaxwDAAAAAAQQMAAAAKhCrEFWVm28uBpwBGk0RSs406vPtvEd
			5+zDXL+u+luaPAIAAAQAAAADAwAAAAgAKAcAAAABAQAAcHJpdmF0
			ZQADAAAAAQEAAHZhcgAHAAAAAQEAAGZvbGRlcnMAAgAAAAEBAAA5
			eAAAHgAAAAEBAAB0cHRiM256bjUyejRkYnFkZzBoZ2x5YncwMDAw
			Z24AAAEAAAABAQAAVAAAACkAAAABAQAAQUJENTE2OEUtQTVFNS00
			OEFCLTlERTgtNDlFQkFGNTEzMzkzLnRpZmYAAAAcAAAAAQYAABAA
			AAAgAAAALAAAADwAAABIAAAAcAAAAHwAAAAIAAAABAMAANpYAAAA
			AAAACAAAAAQDAACYWgAAAAAAAAgAAAAEAwAAc1wAAAAAAAAIAAAA
			BAMAANy1AwAAAAAACAAAAAQDAADdtQMAAAAAAAgAAAAEAwAA4LUD
			AAAAAAAIAAAABAMAACbPOQAAAAAAHAAAAAEGAADUAAAA5AAAAPQA
			AAAEAQAAFAEAACQBAAA0AQAACAAAAAAEAABBw8rU7aFXqxgAAAAB
			AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
			Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAA
			AAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADZERTMzRkY2LTVEMkIt
			NDRCRi1BQUFCLUE5Rjg3MkMxRTE3NRgAAAABAgAAgQAAAAEAAADv
			EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
			/v///wEAAAAAAAAADQAAAAQQAACwAAAAAAAAAAUQAABEAQAAAAAA
			ABAQAAB4AQAAAAAAAEAQAABoAQAAAAAAAAIgAAAoAgAAAAAAAAUg
			AACYAQAAAAAAABAgAACoAQAAAAAAABEgAADcAQAAAAAAABIgAAC8
			AQAAAAAAABMgAADMAQAAAAAAACAgAAAIAgAAAAAAADAgAAA0AgAA
			AAAAABDQAAAEAAAAAAAAAA==
			</data>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/ECD6FE47-A0E7-4FB2-94BD-ABEE5D591D8D.tiff</key>
			<data>
			Ym9vaxwDAAAAAAQQMAAAABpp5t6RJaQw43WfA4XI30tlfaaUQR80
			GTMwB9GS1tMRPAIAAAQAAAADAwAAAAgAKAcAAAABAQAAcHJpdmF0
			ZQADAAAAAQEAAHZhcgAHAAAAAQEAAGZvbGRlcnMAAgAAAAEBAAA5
			eAAAHgAAAAEBAAB0cHRiM256bjUyejRkYnFkZzBoZ2x5YncwMDAw
			Z24AAAEAAAABAQAAVAAAACkAAAABAQAARUNENkZFNDctQTBFNy00
			RkIyLTk0QkQtQUJFRTVENTkxRDhELnRpZmYAAAAcAAAAAQYAABAA
			AAAgAAAALAAAADwAAABIAAAAcAAAAHwAAAAIAAAABAMAANpYAAAA
			AAAACAAAAAQDAACYWgAAAAAAAAgAAAAEAwAAc1wAAAAAAAAIAAAA
			BAMAANy1AwAAAAAACAAAAAQDAADdtQMAAAAAAAgAAAAEAwAA4LUD
			AAAAAAAIAAAABAMAAAbPOQAAAAAAHAAAAAEGAADUAAAA5AAAAPQA
			AAAEAQAAFAEAACQBAAA0AQAACAAAAAAEAABBw8rU3XpcHBgAAAAB
			AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
			Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAA
			AAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADZERTMzRkY2LTVEMkIt
			NDRCRi1BQUFCLUE5Rjg3MkMxRTE3NRgAAAABAgAAgQAAAAEAAADv
			EwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
			/v///wEAAAAAAAAADQAAAAQQAACwAAAAAAAAAAUQAABEAQAAAAAA
			ABAQAAB4AQAAAAAAAEAQAABoAQAAAAAAAAIgAAAoAgAAAAAAAAUg
			AACYAQAAAAAAABAgAACoAQAAAAAAABEgAADcAQAAAAAAABIgAAC8
			AQAAAAAAABMgAADMAQAAAAAAACAgAAAIAgAAAAAAADAgAAA0AgAA
			AAAAABDQAAAEAAAAAAAAAA==
			</data>
		</dict>
		<key>cachedTexturesDict</key>
		<dict>
			<key>/Users/fabriceedon/Dev/Android/DockThor/app/src/main/res/dock_work/dock_pic.JPG</key>
			<string>51E02723-3917-49EB-BC1A-D61DEF197BF9.JPG</string>
			<key>/Users/fabriceedon/Dev/Android/DockThor/app/src/main/res/dock_work/storm.png</key>
			<string>B4891568-778E-4D66-8B0D-EF91266E5E12.png</string>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/174BCADA-D265-4656-A5A9-3027BFBDFCD0.tiff</key>
			<string>9EF7BE11-5D43-42BA-BC18-24F7ED2B4DA5.tiff</string>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/184B0E34-A548-4C21-841F-99287F65730F.tiff</key>
			<string>30318551-6465-4673-8A8A-FEA4D81408E5.tiff</string>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/2F721349-EE7F-4552-8A69-1707F17E8071.tiff</key>
			<string>42A9F59A-E155-497E-8528-E1526F8D5EE4.tiff</string>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/3E1EE1C7-9FE8-4695-ADA5-F315DFEEA9F7.tiff</key>
			<string>6A412276-400A-4F12-B219-4B0CDFA45369.tiff</string>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/485FD2F5-E3AE-47AD-9098-9B317A17328A.tiff</key>
			<string>13912EAC-81E0-438B-A32E-2D1F7C50F050.tiff</string>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/48C368CC-45A7-41D1-A321-28939D185ADF.tiff</key>
			<string>7D17F8B4-4FA4-4083-8829-6335775D586F.tiff</string>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/628073CB-3E23-48E9-9C3F-D470567D884E.tiff</key>
			<string>FDAE30FE-55E8-4D22-A144-5ACD50466F26.tiff</string>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/85B839EA-06F4-4D62-B52D-241EEAFA2404.tiff</key>
			<string>AE7E2750-520D-47FE-9D33-CE12FC85A227.tiff</string>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/ABD5168E-A5E5-48AB-9DE8-49EBAF513393.tiff</key>
			<string>71D88F58-D396-4CC9-98F5-F7D521AB58E5.tiff</string>
			<key>/var/folders/9x/tptb3nzn52z4dbqdg0hglybw0000gn/T/ECD6FE47-A0E7-4FB2-94BD-ABEE5D591D8D.tiff</key>
			<string>C35C6C05-F19B-4418-A473-B52977245CFB.tiff</string>
		</dict>
		<key>currentLevelOfHistory</key>
		<integer>0</integer>
		<key>historyDicts</key>
		<array>
			<dict>
				<key>actionName</key>
				<string>--FORCE SAVE--</string>
				<key>uuid</key>
				<string>64C39F25-EFB8-4A50-BE9B-E38CCC471342</string>
			</dict>
		</array>
	</dict>
	<key>MPOriginalImagePath</key>
	<string>/Users/fabriceedon/Dev/Android/DockThor/app/src/main/res/dock_work/dock_pic.JPG</string>
	<key>MPQuickLookThumbnailSize</key>
	<string>{315, 673}</string>
	<key>MPSaveHistoryToDocument</key>
	<false/>
</dict>
</plist>
